# Создано https://www.toptal.com/developers/gitignore/api/windows,python, visualstudiocode,тест
# Редактировать в https://www.toptal.com/developers/gitignore?templates=windows,python, visualstudiocode,тест

### Python ###
# Скомпилированные в байтах / оптимизированные / DLL файлы
__pycache__/
*.py[cod]
*$py.class

# Расширения C 
*.so

# Дистрибутив / упаковка
.Python 
сборка/
development-eggs/
dist/
Загрузки/
яйца/
.eggs/
библиотека/
lib64/
части/
sdist/
var/
wheels/
поделиться /python-wheels/
*.egg-информация / 
.установлено.cfg
*.egg
МАНИФЕСТ

# PyInstaller
# Обычно эти файлы записываются скриптом python из шаблона
# перед тем, как PyInstaller соберет exe-файл, чтобы ввести в него дату / другую информацию.
* .манифест 
*.спецификация

# Журналы установщика 
pip-log.txt 
pip-delete-this-directory.txt

# Отчеты о модульном тестировании / покрытии 
htmlcov/
.токсин/
.nox/
.покрытие 
.покрытие.*
.кэш 
nosetests.xml 
coverage.xml 
*.обложка 
*.py, обложка 
.гипотеза/
.pytest_cache/
обложка/

# Переводы
* .mo 
* .pot

# Django stuff:
*.log 
local_settings.py 
db.sqlite3 
db.sqlite3-журнал

# Содержимое Flask: 
экземпляр/
.webassets-кэш

# Содержимое Scrapy:
.scrapy

# Документация Sphinx 
docs/_build/

# PyBuilder 
.pybuilder/ 
target/

# Записная книжка Jupyter 
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# Для библиотеки или пакета вы можете проигнорировать эти файлы, поскольку код
# предназначен для запуска в нескольких средах; в противном случае проверьте их в:
# .python-версия

# pipenv
# Согласно pypa / pipenv # 598, рекомендуется включать Pipfile.блокировка в системе управления версиями.
# Однако, в случае совместной работы, при наличии зависимостей от конкретной платформы или dependencies
# при отсутствии кроссплатформенной поддержки pipenv может установить зависимости, которые не работают, или нет
# установите все необходимые зависимости.
#Pipfile.блокировка

# poetry
# Аналогично Pipfile.lock, обычно рекомендуется включать poetry.блокировка в системе управления версиями.
# Это особенно рекомендуется для двоичных пакетов для обеспечения воспроизводимости, и чаще всего
# обычно игнорируется для библиотек.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
# Аналогично Pipfile.lock, обычно рекомендуется включать pdm.lock в систему управления версиями.
#pdm.lock
# pdm хранит конфигурации всего проекта в .pdm.toml , но рекомендуется не включать его
# в системе управления версиями.
# https://pdm.fming.dev/#use-with-ide 
.pdm.toml

# PEP 582; используется, например, в github.com/David-OConnor/pyflow и github.com/pdm-project/pdm
__pypackages__/

# Начинка из сельдерея 
celerybeat-расписание 
celerybeat.pid

# SageMath проанализировал файлы 
*.sage.py

# Среды 
.env 
.venv 
env/
venv/
ENV / 
env.bak/
venv.bak/

# Настройки проекта Spyder 
.spyderproject 
.spyproject

# Настройки проекта Rope 
.ropeproject

# документация mkdocs 
/сайт

# mypy 
.mypy_cache/
.dmypy.json 
dmypy.json

# Проверка типов Pyre 
.pyre/

# статический анализатор типов pytype 
.pytype/

# Символы отладки Cython 
cython_debug/

# PyCharm
 Конкретный шаблон # JetBrains поддерживается в отдельном файле JetBrains.gitignore, который можно
# найти по ссылке https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# и который можно добавить в глобальный файл gitignore или объединить с этим файлом. Для более эффективного использования
 параметр # (не рекомендуется) вы можете раскомментировать следующее, чтобы игнорировать всю папку idea.
#.idea/

### Исправление для Python ###
# Файл локальной конфигурации Poetry - https://python-poetry.org/docs/configuration/#local-configuration 
poetry.toml

# ruff 
.ruff_cache/

# Файлы конфигурации LSP 
pyrightconfig.json

### Тестировать ###
### Игнорировать все файлы, которые могут быть использованы для тестирования вашего кода, и
### вы бы не хотели нажимать

# Ссылка https://en.wikipedia.org/wiki/Metasyntactic_variable

# Наиболее распространенный
* foo
* bar
* fubar
* foobar
* baz

# Менее распространенный
*qux
*кьюкс
*бонго
*базола
*ztesch

# Великобритания, Австралия
* виббл
*воббл
*вуббл
*флоб
*блэп
*бла
*буп
* звуковой сигнал

# Японский
*hoge
*пийо
*fuga
*хогера
*хогехоге

# Португалия, Испания
*фулано
*сирано
*бельтрано
*mengano
*перенгано
*зутано

# Франция, Италия, Нидерланды
*тотошка
*тити
*тата
*пачка
*пиппо
*плутон
*paperino
*aap
* noot
*mies

# Другие названия, которые имели бы смысл
* тесты
*testsdir
*testsfile
*testsfiles
*тест
* testdir
* testfile
* testfiles
* тестирование
* testingdir
* testingfile
* testingfiles
* temp
* tempdir
* tempfile
*временные файлы
*tmp
*tmpdir
*tmpfile
*tmpfiles
*lol

### VisualStudioCode ###
.vscode/*
!.vscode/настройки.json 
!.vscode/задачи.json 
!.vscode/запуск.json 
!.vscode/расширения.json 
!.vscode/*.фрагменты кода

# Локальная история для кода Visual Studio 
.история/

# Встроенные расширения кода Visual Studio 
* .vsix

### Исправление VisualStudioCode ###
# Игнорировать всю локальную историю файлов 
.история 
.ionide

### Windows ###
 Файлы кэша миниатюр # Windows
Thumbs.db
Thumbs.db: шифруемый 
ehthumbs.db 
ehthumbs_vista.db

# Файл дампа 
*.stackdump

# Файл конфигурации папки
[Dd] esktop.ini

# Корзина, используемая в общих файловых ресурсах
$ RECYCLE.BIN/

# Файлы установщика Windows 
*.cab
*.msi
*.msix 
*.msm
*.msp

# Ярлыки Windows 
*.lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows,python, visualstudiocode, тест